@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #3a3541de;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.15px;
  background-color: #F4F5FA;
}
